{% extends 'base.html' %}

{% block body %}

			<!-- Start project Area -->
			<section class="project-area section-gap" id="project">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text text-center">
							<h1 class="mb-10">Latest Finished Projects</h1>
							<p>
								Who are in extremely love with eco friendly system..
							</p>
						</div>
					</div>			
				</div>
			</section>
				<div>{{control_acces.header.render|safe}} </div>
					<p>
					 {{control_acces.html.render|safe}}
					 </iframe>	
					</p>
					<script>
						{{control_acces.script.render|safe}}  
					</script>	
			
			<!-- End project Area -->			

{% endblock body %}