{% extends 'base.html' %}
{% load static %}

{% block body %}
						
			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<img class="img-fluid" src="{% static 'img/p1.jpg' %}" alt="">
								<a href="#">
									<h1>
										Contrôle d’accès
                                        du Centre Spatial Guyannais
									</h1>
								</a>
								<div class="content-wrap">
									<p>
										Le Centre Spatial Guyannais a été créé en 1965, cogéré par l’ESA et le CNES, il vient de féter son 100ème lancement de la fusée Ariane V. Il dispose de 3 sites de lancement répartis sur un territoire de 21km² (zone ariane V et centre de contrôle).
									</p>

									<p>
										Le centre technique est le point d’entrée principal du site, il regroupe le centre d’étude et de lancement, les bureaux administratif, le centre de maintenance et les bâtiments d’assemblage des satellites. On se propose de mettre en œuvre des solutions de contrôles d’accès du centre technique.
									</p>

									<blockquote class="generic-blockquote">
										CAHIER DES CHARGES :<br /> Le centre technique se compose de trois parties distinctes avec des niveaux de contrôles différents :<br />
										- Zone 1 : espace réservé pour l’accueil du public avec entrée du musée de l’espace.<br />
										- Zone 2 : espace pour le personnel et les visiteurs invités, l’accès est contrôlé.<br />
										- Zone 3 : espace d’assemblage des satellites ( salles blanches), accès réservés à certains personnels.
									</blockquote>	
									<embed type="application/pdf" src="{% static 'pdf/Controle_acces_industriel.pdf' %}" width="700" height="750">
									</embed>
									<form action="accueil/" method="GET"> <button type="submit"> Get acces </button> </form>

								</div>
								
               
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->		

{% endblock body %}